.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
}

.wrapper {
  margin: var(--container-margin);
  position: relative;
  flex: 1;
  margin-top: 50px;
  @media (min-width: 1209px) {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.nav-link-item {
  color: var(--blue-1);
  text-decoration: none;
  // margin-left: ${({ tag }) => tag && "2rem"};
  padding: 1.5rem;
  padding-left: 2rem;
  display: inline-block;
  &:active {
    transform: scale(0.95);
    transition: 0.3s;
  }
}

.active-global-feed {
  border-bottom: 3px solid var(--blue-1);
  font-weight: bold;
}
